#navName{font-size: 40px;
    font-weight: 800;
    color: darkgreen;
}
    #addCart{
        margin-left: 10px;
    }
    #logOut{
        margin-left: 10px;
    }
    
    *{
    background:#f8f9fa;
    
    }

    /* from cart.html */
    #myCart{
        text-align: center;
    }

