#navName{font-size: 40px;
    font-weight: 800;
    color: darkgreen;
}
    #addCart{
        margin-left: 10px;
    }
    #logOut{
        margin-left: 10px;
    }
    
    /* *{
    background:#f8f9fa;
    
    } */

    /* from cart.html */
    #myCart{
        text-align: center;
    }
    .text-muted{
        color: black;
        font-weight: bolder;
    }
   
#logout {
    color: white;
    margin-left: 5px;
}
.btn-info {
    margin-right: 5px;
}
#myCart{
    text-align: center;
}
.text-muted{
    color: black;
    font-weight: bolder;
}
.fa-shopping-cart{
    color: gold;
}
.bd-cart-modal-lg{
    background: none;
}
#cContent{
    background: #17a2b83b;
}
#cartList{
    padding: 1rem;
}
#total {  
    text-align: right;
    color: black;
    background-color: gold;
  }

